<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="SleepMilliSecond" value="100" />
    <add key="ServerIP" value="127.0.0.1" />
    <add key="ListenPort" value="9600" />
  </appSettings>
  <connectionStrings>
    <!--<add name="EMICLOG2DB" connectionString="54EB4F7AF36E060299FB909911B3CE9FF9EB20F46209A50ABF312D6EFE02736AF8C2373FB9CE2CDF42958E9744C596BEA3D2FE20E4C811A28BE9A117E1F000CF4CCB41CAF674B6D29F70C8CCD1538578E0E2DCCDAAE179318C28C7C21212E8837E774DC12AD3F88436BA66F876934124" providerName="System.Data.SqlClient" />-->
    <add name="EMICLOG2DB" connectionString="Data Source=ALEX-PC\SQLEXPRESS;initial Catalog=LOG_DB;Persist Security Info=False;Uid=sa;Password=~zaq1234;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>