<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup>
  <connectionStrings>
    <!--<add name="EMIC2Entities" connectionString="metadata=res://*/EMIC2.csdl|res://*/EMIC2.ssdl|res://*/EMIC2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.2.165;initial catalog=EMIC2_Public;user id=empuser;password=abcd1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EMIC2Entities" connectionString="7BD70245B8708DEC3B6048DCDA416566E3AF1BC5D443EBFC782FC37D020BD0D52D04625EE43DE954E8582878A5B8411E7CE8CCE6696A975D2B29B82078BE5D5FF48475DD007EAE2D584CF48FD53023FF854A2A7A00D73B5F15FD9829BB2D3D06030DF3EA4BECA3B002D6BDA1030C92734826263CA794A9CBFD3158EE40A616B25FEB2E7A397529797073EC44682672BF9BED20C0B8F507564108D0906BE50AB8F705297987DA274CA8B04DD8DA62F186061A27E44D058A02B4325CC7FE506BF8FFE0B5B5B139D9DDDE854B23F0C2398B29B615095192B6915F4D88B98CC8DCA202A76D949389022B46A676E85ADA8AA54EF03A58068117AB8DF6015973428F22ACC4B99AE094F4990AE9D7F1895FDEDE" providerName="System.Data.EntityClient" />
  </connectionStrings></configuration>
