<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SendEmicMailUrl" value="http://localhost:51629/msp/SendEmicMail"/>
    <add key="SendEmicSmsUrl" value="http://localhost:51629/msp/SendEmicSms"/>
    <add key="SendEmicFaxUrl" value="http://localhost:51629/msp/SendEmicFax"/>
    <!--<add key="EmailList" value="changenosh@yahoo.com.tw,alexchu5860@gmail.com"/>-->
    <add key="EmailList" value="alexchu5859@gmail.com"/>
    <!--<add key="MobileList" value="0965655399,0953149356"/>-->
    <add key="MobileList" value="0953149356"/>
    <!--<add key="FaxList" value="0285001410"/>-->
    <add key="FaxList" value=""/>
    <add key="Oid" value="op"/>
    <add key="Subject" value="測試的主旨"/>
    <add key="Content" value="測試的內容"/>
    <add key="FileBase" value="D:\Test\zzzz\test.pdf"/>
    <add key="MimeType" value=""/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>