@{
    ViewBag.Title = "VMInfo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section scripts {
    <script type="text/javascript">
        $(function () {
            queryOnClick();
        });

        function queryOnClick() {
            $("#resultTable tbody tr").remove();

            var filter = {
                ID: $("#qID").val(),
                IPv4: $("#qIPv4").val()
            }

            $("#infos .modal-body").html("<span style='font-size:24px'><i class='fa fa-spinner fa-spin'></i>查詢中…</span>");
            $("#infos").modal("show");

            $.ajaxPost("@Url.Content("~/VMInfo/Search")", filter, function (data) {
                $("#infos").modal("hide");
                if ((data != null) && (data.length > 0)) {
                    $.each(data, function (index, item) {
                        var html = "";

                        html += "<tr>";
                        html += "  <td>";
                        html += "    <input type='hidden' id='" + item.OID + "' value='" + JSON.stringify(item) + "' />";
                        html += "    <button type='button' onclick='editOnClick(\"" + item.OID + "\");'>編輯</button>&nbsp;&nbsp;";
                        html += "    <button type='button' onclick='delOnClick(\"" + item.OID + "\");'>刪除</button>";
                        html += "  </td>";
                        html += "  <td class='text-center'>" + item.ID + "</td>";
                        html += "  <td class='text-center'>" + (item.NAME != null ? item.NAME : "") + "</td>";
                        html += "  <td class='text-center'>" + (item.IPv4 != null ? item.IPv4 : "") + "</td>";
                        html += "  <td class='text-left'>" + (item.IPv6 != null ? item.IPv6 : "") + "</td>";
                        html += "  <td class='text-center'>" + (item.ISVIP != null && item.ISVIP ? "是" : "否") + "</td>";
                        html += "  <td class='text-center'>" + (item.MEMO != null ? item.MEMO : "") + "</td>";
                        html += "  <td class='text-center'>" + moment(item.CREATE_TIME).format("YYYY-MM-DD HH:mm:ss") + "</td>";
                        html += "  <td class='text-center'>" + (item.UPDATE_TIME != null ? moment(item.UPDATE_TIME).format("YYYY-MM-DD HH:mm:ss") : "") + "</td>";
                        html += "</tr>";

                        $("#resultTable tbody").append(html);
                    });
                }
            });
        }

        function newOnClick() {
            var obj = {
                OID: "",
                ID: "",
                NAME: "",
                IPv4: "",
                IPv6: "",
                MEMO: "",
                ISVIP: false
            };
            setFormFields(obj);

            $("#actionType").text("新增");
            $("#healthTarget").modal("show");
        }

        function editOnClick(oid) {
            var obj = JSON.parse($("#" + oid).val());
            setFormFields(obj);

            $("#actionType").text("編輯");
            $("#healthTarget").modal("show");
        }

        function confirmOnClick() {
            var actionType = $("#actionType").text();
            var obj = {
                OID: $("#fOID").val(),
                ID: $("#fID").val(),
                NAME: $("#fNAME").val(),
                IPv4: $("#fIPv4").val(),
                IPv6: $("#fIPv6").val(),
                MEMO: $("#fMEMO").val(),
                ISVIP: $("#fISVIP").prop("checked")
            };

            if ((obj.IPv4 === "") || (obj.ID === "")) {
                alert("IPv4及ID不能為空值！");
            }
            else {
                var url = (actionType == "新增") ? "@Url.Content("~/VMInfo/Create")" : "@Url.Content("~/VMInfo/Update")";
                $.ajaxPost(url, obj, function (data) {
                    $("#healthTarget").modal("hide");
                    queryOnClick();
                });
            }
        }

        function delOnClick(oid) {
            var obj = JSON.parse($("#" + oid).val());

            if (confirm("確認刪除" + obj.ID + "：" + obj.NAME + "？")) {
                $.ajaxPost("@Url.Content("~/VMInfo/Delete")", obj, function (data) {
                    queryOnClick();
                });
            }
        }

        function setFormFields(obj) {
            $("#fOID").val(obj.OID);
            $("#fID").val(obj.ID);
            $("#fNAME").val(obj.NAME);
            $("#fIPv4").val(obj.IPv4);
            $("#fIPv6").val(obj.IPv6);
            $("#fMEMO").val(obj.MEMO);
            $("#fISVIP").prop("checked", obj.ISVIP);
        }
    </script>
}
<br />
<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
        <label>ID：</label>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <input type="text" id="qID" class="form-control" />
    </div>
    <div class="col-lg-1 col-md-1 col-sm-6 col-xs-12">
        <label>IPv4：</label>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
        <input type="text" id="qIPv4" class="form-control" />
    </div>
    <div class="col-lg-offset-4 col-md-offset-4 col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <button type="button" class="btn btn-primary" onclick="queryOnClick();">查詢</button>
        <button type="button" class="btn btn-default" onclick="newOnClick();">新增</button>
    </div>
</div>
<br />
<div class="table-responsive">
    <table id="resultTable" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th class="text-center">ID</th>
                <th class="text-center">NAME</th>
                <th class="text-center">IPv4</th>
                <th class="text-center">IPv6</th>
                <th class="text-center">IS VIP</th>
                <th class="text-center">MEMO</th>
                <th class="text-center">建立時間</th>
                <th class="text-center">異動時間</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div class="modal fade" id="healthTarget" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><span class="glyphicon glyphicon-lock"></span><span id="actionType"></span></h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="fOID" />
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">ID：</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="fID" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">NAME：</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="fNAME" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">IPv4：</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="fIPv4" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">IPv6：</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="fIPv6" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">MEMO：</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="text" id="fMEMO" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">IS VIP：</div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input type="checkbox" id="fISVIP" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" onclick="confirmOnClick();"><span class="glyphicon glyphicon-remove"></span> 確認</button>
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> 取消</button>
            </div>
        </div>
    </div>
</div>
